
/* Styles used with TRC GridControl */

/* Done! Server has acknowledged change. */
.OkUpload {
    background-color: #adffb6;
}

/* Cell is changed locally, but not yet acknowledeged by server */
.PreUpload {
    background-color: #ffdada;
}

/* Cell was changed by another user */
.OtherUpload {
    background-color: #c1f8ff;
}

.map {
  width: 1200px;
  height: 900px
}

section {
  margin: 30px 0;
}

#walklists th {
  border-bottom: none;
}

.delete-walklist-btn {
  cursor: pointer;
  color: red;
}

#filtercontainer {
  padding: 0 0 10px 0;
}

#filterarea-form {
  padding: 15px 0;
}
